<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
    "http://www.w3.org/TR/html4/strict.dtd">
<html lang="ja">
<body>
    <div id ="wrapper">
        <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <!-- @titleというインスタンス変数を用意しておくことで各アクションごとにタイトルを設定できる -->
    <title><%= @title %></title>
    <!-- sample.cssとsample.jsのみ読み込むためのタグのみ生成 -->
    <%= stylesheet_link_tag "sample" %>
    <%= javascript_include_tag "sample" %>
    <!-- renderメソッドでレイアウトテンプレートを指定してレンダリングされたHTMLコードを書き出し -->
    <!-- パーシャル（ビューテンプレート内に組み込めるビューの部品)を使用する -->
    <!-- ローカル変数を使用するため、引数にオプションを指定する -->
    <%= render :partial => "partials/myheader", :locals => {:title => "いっぱい楽しんでね"} %>
    </head>
    <div id="contents">
    <%= yield %>
    </div>
    <footer id="footer">
    <%= render "partials/myfooter" %>
    </footer>
    </div><!-- wrap -->
</body>